<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>PrimeCasa - Móveis e Eletrodomésticos</title>
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
   
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav">
                <button type="button" class="btn btn-secondary"><a class="navbar-brand" href="/">Hyperos Móveis</a></button>
                <button type="button" class="btn btn-secondary"><li class="nav-item"><a class="nav-link" href="/catalogo/">Catálogo</a></li></button>
                <button type="button" class="btn btn-secondary"><li class="nav-item"><a class="nav-link" href="/sobre/">Sobre</a></li></button>
                <button type="button" class="btn btn-secondary"><li class="nav-item"><a class="nav-link" href="/contato/">Contato</a></li></button>
            </ul>
        </div>
    </nav>
        <h1> Bem-vindo à hyperos moveis – Onde o Design Encontra o Conforto</h1>
        
        <p>Descubra o universo de móveis que transforma sua casa em um lar. Na <strong>hyperos moveis</strong>, oferecemos uma seleção excepcional de móveis que combinam estilo, funcionalidade e qualidade incomparável. Cada peça é escolhida com cuidado para garantir que você encontre o que há de melhor em design e conforto.</p>

        <h2>O Que Oferecemos</h2>
    <ul>
        <li>Variedade Inigualável: Explore nossa vasta coleção de móveis para todos os ambientes, desde salas de estar acolhedoras e sofisticadas até cozinhas modernas e práticas. Cada categoria é repleta de opções que atendem a todos os gostos e necessidades. <li>

           <li>Qualidade Superior: Trabalhamos apenas com fabricantes e fornecedores que compartilham nosso compromisso com a excelência. Cada móvel é feito com materiais duráveis e técnicas de produção de ponta, garantindo longevidade e resistência. </li>     

           <li>Design Exclusivo: Seja você um amante do clássico ou do contemporâneo, nossa seleção apresenta uma diversidade de estilos para complementar seu espaço de forma única e pessoal. <li>
            
            </li>Serviço Personalizado: Nossa equipe dedicada está pronta para ajudar você a encontrar o móvel perfeito. Oferecemos consultoria especializada e atendimento personalizado para garantir que sua experiência de compra seja tão confortável quanto os nossos produtos.</li>
    </ul>
    <hr>
    <h3></h3>
    </div>
</body>
</html>